.main {
  margin-left: 222px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.but{
  /* style={{backgroundColor:'black', color:'white',fontSize:'15px', padding:'5px 90px 5px 90px', borderRadius:'5px'}} */
  background-color: rgb(0, 0, 0);
  color: #1278a8;
  font-size: 15px;
  padding: 5px 85px 5px 85px;
  border-radius: 5px;
}

.but:hover{
  color: cyan;
}