div#footer{
    background-color: #0f78af;
    color: #cccdb4;
    padding: 80px;
    /* margin-top: 50px; */
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.main {
     
    padding: 0px 10px;
  }
  