
.navbar{
    /* height: 80px;
    padding: 0px;
    border:0px; */
    transition: all 1s;
  }
#navbarDropdown{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #cccdb4;
    margin-left: 30px;
    transition : all 1s;
}
#navbarDropdown:hover {
    background-color:#1a1503;
}

#home-link{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #c0c5c7;
    margin-left: 30px;
    transition : all 0.2s;
}
#home-link:hover {
    color:#0f78af;
}
#link-link{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #cccdb4;
    margin-left: 30px;
    transition : all 1s;
}
#link-link:hover {
    background-color:#1a1503;
}

#header-image{
    background-color:#fefefe;
}
#menu{
    background-color: #111;
    border: none;
    transition : all 1s;
}
.dropdown-item{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 30px;
    margin-right: 30px;
    color: #cccdb4;
    transition : all 0.5s;
}
.dropdown-item:hover{
    background-color:#1a1503;
    color: #cccdb4;
}
.main {
  margin-left: 222px;
  margin-bottom: 10px; /* Same as the width of the sidenav */
   /* Increased text to enable scrolling */
  padding: 10px 10px;
}
