*{
    scroll-behavior: smooth;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px;
    padding: 0px;
    
    
}
body{
    background-color: rgb(0, 0, 0);
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
    /* height: 20px; */
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#e9e9e9;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#777676;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0f78af;
  } 

.movie_poster{
    display:inline-block;
    width: 160px;
    height: 200px;
    border: 2px solid #1278a8;
    border-radius: 2px;

}
.movie_poster:hover{
    box-shadow: 0 0 6px  #1278a8;
    transform: scale(1.3);
    transform: translate(0, -1px);
  }
.character_poster{
    display:inline-block;
    width: 160px;
    height: 180px;
    border: 2px solid #1278a8;
    border-radius: 160px;

}
.character_poster:hover{
    box-shadow: 0 0 6px  #1278a8;
    transform: scale(1.3);
    transform: translate(0, -1px);
  }

  .location_poster{
    display:inline-block;
    width: 160px;
    height: 180px;
    border: 2px solid #1278a8;
    border-radius: 160px;

}
.location_poster:hover{
    box-shadow: 0 0 6px  #1278a8;
    transform: scale(1.3);
    transform: translate(0, -1px);
  }
  .vehicle_poster{
    display:inline-block;
    width: 160px;
    height: 180px;
    border: 2px solid #1278a8;
    border-radius: 160px;

}
.vehicle_poster:hover{
    box-shadow: 0 0 6px  #1278a8;
    transform: scale(1.3);
    transform: translate(0, -1px);
  }

  
.movie_poster_container{

    display:inline-block;
    margin: 25px;
    /* margin-bottom: 35px; */
    /* padding-bottom: 90px; */
    /* padding-top: 90px; */
    width: 200px;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
    color:white;
    
    height: 280px;
}
.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    margin:0px;
    padding: 0px;
    transition: .5s ease;
  }

.movie_grid{
    /* padding-top: 1000px; */
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
}
/* .slider > h6{
    margin-right: 100%;
    padding-left: 30px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#1a1503;
    display:inline-block;
    color: #cccdb4;
} */
.slider > h3{
    margin-right: 100%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#1a1503;
    display:inline-block;
    color: #cccdb4;
}

#HomeLogo{
    display: inline-block;
    margin: 0px;
    margin-left: 20%;
    padding: 30px;
    background-color:#fefefe;
}

.PresentedBy1{
   
    display: inline-block;
    
    margin:0px;
    margin-left: 10px;
    margin-top: 0%;
}

.PresentedBy2{
    display: inline-block;
    margin: 0px;
    
    margin-left: 10px;
    margin-right: 5%;
    background-color: rgb(9, 177, 233);
}

#HomeImage1{
    height: 60px;
    width: 60px;
    filter: sepia();
}

#HomeImage2{
    height: 60px;
    width: 120px;
    
}

#Brought_to_you_by{
    text-align: left;
    margin-top: 7%;
    margin-right: 84.4%;
    display:inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#1a1503;
    color: #cccdb4;
}
.HomeDescription{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #0f78af;
    
    font-weight: 400;
    /* margin-top: 210px; */
    color: #ede6cb;
}
.HomeDescription p {
    font-size: 20px;
}

.HomeDescription h2 {
    font-size: 30px;
}
/* .backgroundWall{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 90%;
    height: 550px;
  } */
#HomeLogo p{
    font-size: 9px;
    color:#0f78af;
    font-family: "Lucida Console", "Courier New", monospace;
}

.CategoryHeading{
    margin:none;
    padding: none;
    color:#0f78af;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    /* font-weight: bold; */
    
}
.slider_container{
    
    height: 550px;
    
}
.Home_sub_containers{
    height : 500px;
}

.main {
    margin-left: 222px; /* Same as the width of the sidenav */
 /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .d-block {
    height: 500px;
  }