

.but{
  /* style={{backgroundColor:'black', color:'white',fontSize:'15px', padding:'5px 90px 5px 90px', borderRadius:'5px'}} */
  background-color: black;
  color: #1278a8;
  font-size: 15px;
  padding: 5px 85px 5px 85px;
  border-radius: 5px;
}

.but:hover{
  color: cyan;
}